<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartcity">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" /> <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 写入权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 允许应用程序请求安装其他包，用于静默安装APK -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartCity"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.activity.DataAnalysisActivity"></activity>
        <activity android:name=".ui.activity.BusPayActivity" />
        <activity android:name=".ui.activity.BusMeActivity" />
        <activity android:name=".ui.activity.BusAddActivity" />
        <activity android:name=".ui.activity.BusInfoActivity" />
        <activity android:name=".ui.activity.SmartBusActivity" />
        <activity android:name=".ui.activity.DetectionkInfoActivity" />
        <activity android:name=".ui.activity.RetireNewsInfoActivity" />
        <activity android:name=".ui.fragment.retire.RetierNewsInfoActivity" />
        <activity android:name=".ui.activity.RetireActivity" />
        <activity android:name=".ui.activity.RegAddUserActivity" />
        <activity android:name=".ui.activity.RegAddlistActivity" />
        <activity android:name=".ui.activity.RegListActivity" />
        <activity android:name=".ui.activity.RegInfoActivity" />
        <activity
            android:name=".ui.activity.RegistrationActivity"
            android:label="@string/title_activity_registration" />
        <activity android:name=".ui.activity.HospitalnfoActivity" />
        <activity android:name=".ui.activity.HospitalActivity" />
        <activity android:name=".ui.activity.MeConsultInfoActivity" />
        <activity android:name=".ui.activity.EvaluateActivity" />
        <activity android:name=".ui.activity.ConsultActivity" />
        <activity android:name=".ui.activity.ConsultListActivity" />
        <activity android:name=".ui.activity.MeConsultActivity" />
        <activity android:name=".ui.activity.LawyersExpertiseActivity" />
        <activity android:name=".ui.activity.LawyerInfoActivity" />
        <activity android:name=".ui.activity.LawyerGoodActivity" />
        <activity android:name=".ui.activity.CallDoctorActivity" />
        <activity android:name=".ui.activity.PetInquiryInfoActivity" />
        <activity android:name=".ui.activity.QuestionCloselyActivity" />
        <activity android:name=".ui.activity.PetHospitalnfoActivity" />
        <activity android:name=".ui.activity.PetInquiryListActivity" />
        <activity android:name=".ui.activity.PetMeInquiryActivity" />
        <activity android:name=".ui.activity.PetHospitalActivity" />
        <activity android:name=".ui.activity.LawyerActivity" />
        <activity android:name=".ui.activity.GoverTypeListActivity" />
        <activity android:name=".ui.activity.SubmitLaimActivity" />
        <activity android:name=".ui.activity.GovernmentInfoActivity" />
        <activity android:name=".ui.activity.GovernmentActivity" />
        <activity android:name=".ui.activity.RecNewsActivity" />
        <activity android:name=".ui.activity.RecActivity" />
        <activity android:name=".ui.activity.RecClazzActivity" />
        <activity android:name=".ui.activity.RecSearchActivity" />
        <activity android:name=".ui.activity.GarbageSortingActivity" />
        <activity android:name=".ui.activity.EventsInfoActivity" />
        <activity android:name=".ui.activity.EventsActivity" />
        <activity android:name=".ui.activity.KnowledgePolicyActivity" />
        <activity android:name=".ui.activity.VoInfoActivity" />
        <activity android:name=".ui.activity.VolunteerkNewsActivity" />
        <activity android:name=".ui.activity.VolunteerActivity" />
        <activity android:name=".ui.activity.WelfareInfoActivity" />
        <activity android:name=".ui.activity.WelfareActivity" />
        <activity android:name=".ui.activity.YipActivity" />
        <activity android:name=".ui.activity.YiInfoActivity" />
        <activity android:name=".ui.activity.YouthActivity" />
        <activity android:name=".ui.activity.UbtPayActivity" />
        <activity android:name=".ui.activity.UtilityBillsActivity" />
        <activity android:name=".ui.activity.EditCurriculumVitaeActivity" />
        <activity android:name=".ui.activity.AddCurriculumVitaeActivity" />
        <activity android:name=".ui.activity.CurriculumVitaeActivity" />
        <activity android:name=".ui.activity.JobInfoActivity" />
        <activity android:name=".ui.activity.JobActivity" />
        <activity android:name=".bean.MovieInfoActivity" />
        <activity android:name=".ui.activity.MovieActivity" />
        <activity android:name=".ui.activity.NewsInfoActivity" />
        <activity android:name=".ui.activity.StopCarRecordsActivity" />
        <activity android:name=".ui.activity.StopCarInfoActivity" />
        <activity android:name=".ui.activity.SearchContentActivity" />
        <activity android:name=".ui.activity.ExpressInfoActivity" />
        <activity android:name=".ui.activity.StopCarActivity" />
        <activity android:name=".ui.activity.ExpressActivity" />
        <activity android:name=".ui.activity.HouseDetailsActivity" />
        <activity android:name=".ui.activity.HouseActivity" />
        <activity android:name=".ui.activity.LibraryInfoActivity" />
        <activity
            android:name=".ui.activity.LibraryActivity"
            android:label="@string/title_activity_library" />
        <activity android:name=".ui.activity.FeedbackActivity" />
        <activity android:name=".ui.activity.OrderActivity" />
        <activity android:name=".ui.activity.PasswordActivity" />
        <activity android:name=".ui.activity.UserInfoActivity" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.NewsActivity" />
        <activity android:name=".ui.activity.IntroductionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MainActivity" />
    </application>

</manifest>